body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #396afc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2948ff,
    #396afc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2948ff,
    #396afc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#main{
  height: 930px;
  width: 95%;
  margin: auto;
}
#table_box{
  margin: auto;
  width: 100%;
  height: 730px;
}
.logoButton {
  border: none;
  background-color: black;
  color: white;
}
.logoButton:focus {
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.div_of_heading{
  display:  flex;
  justify-content: space-between;
  margin-left: 120px;
}
.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  color: red;
  left: 0;
  bottom: 0;
}
.navbar_color {
  background-color: black;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
}
.nav-item2 {
  margin-right: 10px;
  margin-bottom: 5px;
}
.button {
  border: none;
  background-color: black;
  width: 120px;
  height: 50px;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
.button:hover {
  background-color: red;
}
.card {
  border: 0;
  border-radius: 0px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.padding {
  padding: 3rem !important;
}

body {
  background-color: #f9f9fa;
}

h5.card-title {
  font-size: 15px;
}

.fw-400 {
  font-weight: 400 !important;
}
.form_center{
  height: 620px;
}
.card-title {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border-color: #ebebeb;
  border-radius: 2px;
  color: #8b95a5;
  padding: 5px 12px;
  font-size: 14px;
  line-height: inherit;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.card-body > *:last-child {
  margin-bottom: 0;
}

.btn-primary {
  background-color: #33cabb;
  border-color: #33cabb;
  color: #fff;
}
.btn-bold {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.btn-primary:hover {
  background-color: #52d3c7;
  border-color: #52d3c7;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.form-control:focus {
  border-color: #83e0d7;
  color: #4d5259;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15);
  box-shadow: 0 0 0 0.1rem rgba(51, 202, 187, 0.15);
}

.custom-radio {
  cursor: pointer;
}

.custom-control {
  display: -webkit-box;
  display: flex;
  min-width: 18px;
}

.formCenter {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
